{% extends 'base.html' %}

{% block style %}

    .title {
      text-align: center;
    }
    .indent {
      padding-left: 30px;
    }

{% endblock %}

{% block head %}The Hideout | The Necroninden{% endblock %}

{% block content %}

<div id="title-div" class="row" style="margin-top: 40px; margin-bottom: 30px;">
  <h1 class="title">Available Rooms</h1>
</div><!-- title-div -->

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" style="font-size: 20px; text-indent: 20px;">
    <p>We seek an able-bodied outlaw of capable mind and strong spirit to join our band of bandits and man the Back Post. Membership includes access to Back Post, unfurnished; a bathroom shared with 2 (negotiable) plus guests; and all the common areas of the hideout.</p>
    <p>We enjoy a family-like atmosphere, often entertaining guests in the evenings with food, games, and conversation.</p>
    <p>Some storage room is available. Our landlord does not allow pets or smoking.</p>
    <p>Background check necessary.</p>
    <br/>
  </div>
  <div class="col-lg-3"></div>
</div>

<div class="row" style="margin-bottom: 60px;">
  <div class="col-lg-5"></div>
  <div class="col-lg-3" style="font-size: 20px;">
    <p>Membership fee (1 year contract):</p>
    <p class="indent">Room .........  $850</p>
    <p class="indent">Utilities ....... $70</p>
    <p class="indent">Deposit ......  $833.33</p>
  </div>
  <div class="col-lg-4"></div>
</div>

<hr>

<h3 class="title" style="margin-top: 60px; margin-bottom: 30px;">Open Positions</h3>
<div class="row" style="margin-bottom: 60px; font-size: 20px;">
  <div class="col-lg-3"></div>
  <div class="col-lg-3">
    <p>Saboteur, Specialist</p>
    <p>Troublemaker Virtuoso</p>
    <p>Trickster in the Ancient Tradition</p>
    <p>Artful Dodger</p>
    <p>Aid-and-Abetter, First Class</p>
    <p>Subterfugal Force</p>
  </div>
  <div class="col-lg-1"></div> 
  <div class="col-lg-4">
    <p>Chaosmonger</p>
    <p>Duplicitist</p>
    <p>Deceptoroid</p>
    <p>Trick Treater</p>
    <p>Sneakmaster 9000</p>
  </div>
</div>

<div class="row" style="margin-bottom: 80px;">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" style="font-size: 20px; text-indent: 20px;">
    <p>To apply, send an email to <a href="mailto:necroninden@gmail.com">necroninden@gmail.com</a> with your information.</p>
  </div>
  <div class="col-lg-3"></div>
</div>

{% endblock %}
