<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <style type="text/css">

    .title {
      text-align: center;
    }
    #logo {
      position: absolute;
      left: 90px;
      top: 20px;
      width: 10%;
    }

  </style>

  <title>Availability | The Necroninden</title>

</head>
<body>

  <div id="homepage-container" class="container body-container" style="width: 1500px;">
    <a href="/"><img id="logo" src="/static/logo.png"></a>

    <div id="title-div" class="row" style="margin-top: 40px; margin-bottom: 30px;">
      <h1 class="title">Available Rooms</h1>
    </div><!-- title-div -->

    <div id="main-div" class="row">
      <div class="col-lg-3"></div>
      <div id="availability-div" class="col-lg-6" style="text-align: center;">
        <p>We seek an able-bodied outlaw of capable mind and strong spirit to join our band of bandits and man the Back Post. Membership includes access to Back Post, unfurnished; a bathroom shared with 2 (negotiable) plus guests; and all the common areas of the hideout.</p>
        <p>We enjoy a family-like atmosphere, often entertaining guests in the evenings with food, games, and conversation.</p>
        <p>Some storage room is available. Our landlord does not allow pets or smoking.</p>
        <br/>
        <p>Membership fee (1 year contract):</p>
        <p>Room.........$850</p>
        <p>Utilities.........$70</p>
        <p>Deposit......$833.33</p>
        <p>Background check necessary.</p>
      </div>
      <div class="col-lg-3"></div>        
    </div>
    <div id="open-positions" class="row">
      <div class="col-lg-3"></div>
      <div id="details-div" class="col-lg-6" style="margin-top: 30px; text-align: center;">
        <h3 style="margin-bottom: 30px;">Open Positions</h3>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <p>Subterfugal Force</p>
          <p>Trickster in the Ancient Tradition</p>
          <p>Artful Dodger</p>
          <p>Aid-and-Abetter, First Class</p>
        </div>
        <div class="col-lg-3">
          <p>Troublemaker Virtuoso</p>
          <p>Deceptoroid</p>
          <p>Trick Treater</p>
          <p>Duplicitist</p>
          <p>Sneakmaster 9000</p>
        </div>
      </div>
      <div class="col-lg-3"></div>        
    </div>
  </div><!-- homepage-container -->

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>

</body>
</html>