<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <style type="text/css">

  </style>

  <title>Code | The Necroninden</title>

</head>
<body>

  <div id="homepage-container" class="container body-container" style="width: 1500px;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="/">HOME</a>
            <a class="navbar-brand" href="/apply">APPLY</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="title-div" class="row" style="margin-top: 40px; margin-bottom: 40px;">
      <h1 class="title" style="text-align: center;">Articles of Agreement</h1>
      <h3 class="title" style="text-align: center;">made among</h3>
      <h2 class="title" style="text-align: center;">the Company of the Necroninden</h2>
    </div><!-- title-div -->

    <div id="main-div" class="row">
      <div class="col-lg-2"></div>
      <div id="code-div" class="col-lg-8">
        <ol>
          <li>Members of the Company shall endeavor to treat each other, the property thereof, and the Necroninden according to the utmost excellence of their characters.</li>
          <li>Every person has a vote in the affairs of the moment and has equal title to the food and drink of the house.</li>
          <li>Every person shall endeavor to keep the house reasonably clean and organized.</li>
          <li>Every person’s privacy shall be respected. Opinions or behaviors expressed in and around the Necroninden or in the Company if not near the premises of the Necroninden shall be kept reasonably private.</li>
          <li>Pranks and other such acts shall be reversible and those persons involved in the execution of said acts shall restore the involved property to its original condition within 24 hours.</li>
          <li>Violation of these articles shall result in response according to the discretion of the rest of the members of the company, up to and including exile.</li>
        </ol>
      </div>
      <div class="col-lg-2"></div>
    </div><!-- main-div -->
  </div><!-- homepage-container -->

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>

</body>
</html>