{% extends 'base.html' %}

{% block style %}

    .title {
      text-align: center;
    }
    .listitems {
      font-size: 24px;
      line-height: 40px;
    }
    .listitems li {
      margin-top: 15px;
    }

{% endblock %}

{% block head %}Guests | The Necroninden{% endblock %}

{% block content %}

<div id="title-div" class="row" style="margin-top: 40px; margin-bottom: 40px;">
  <h1 class="title">Code of Conduct</h1>
  <h3 class="title">agreed upon by</h3>
  <h2 class="title">the Guests to the Necroninden</h2>
</div><!-- title-div -->

<div id="main-div" class="row" style="margin-bottom: 80px;">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 listitems">
    <ol type="I">
      <li>All guests shall endeavor to treat each other and members of the Company, the property thereof, and the Necroninden according to the utmost excellence of their characters.</li>
      <li>If a door is closed, it shall not be opened by any guest without the permission of a member of the Company.</li>
      <li>Guests shall endeavor to keep the house reasonably clean and organized.</li>
      <li>Every person’s privacy shall be respected. Opinions or behaviors expressed in and around the Necroninden or in the Company if not near the premises of the Necroninden shall be kept reasonably private.</li>
      <li>Pranks and other such acts shall be reversible and those persons involved in the execution of said acts shall restore the involved property to its original condition within 24 hours.</li>
      <li>No guest shall defraud the Company to the value of even a dollar.</li>
      <li>Violation of these articles shall result in response according to the discretion of the rest of the members of the company, up to and including banishment.</li>
    </ol>
  </div>
  <div class="col-lg-3"></div>
</div><!-- main-div -->

{% endblock %}
