<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <style type="text/css">

  .title {
    text-align: center;
  }
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navlink {
    font-size: 200%;
  }

  </style>

  <title>The Necroninden</title>

</head>
<body>

  <div id="homepage-container" class="container body-container" style="width: 1500px;">

    <div id="title-div" class="row" style="margin-top: 40px; margin-bottom: 40px;">
      <h2 class="title" >Welcome to the</h2>
      <img id="logo" src="/static/logo.png">
      <h1 class="title" style="font-size: 400%;">Necroninden</h1>
    </div><!-- title-div -->

    <div id="main-div" class="row">
      <div class="col-lg-2"></div>
      <div id="navlinks-div" class="col-lg-8" style="text-align: center;">
        <a class="navlink" href="/outlaws">The Outlaws</a><br/>
        <a class="navlink" href="/hideout">The Hideout</a><br/>
        <a class="navlink" href="/code">The Code</a><br/>
        <a class="navlink" href="/guests">Guests</a><br/>
        <a class="navlink" href="/availability">Availability</a>
      </div>
      <div class="col-lg-2"></div>
    </div><!-- main-div -->
  </div><!-- homepage-container -->

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>

</body>
</html>